<div class="flex group items-center w-full">
  <span
    title="At..."
    class="flex px-2 py-1 rounded-full text-sm bg-[#e6dfdd]"
    >{{ newDate(task.time) | dfnsFormat: "hh:mm bbbb" }}</span
  >
  <div
    (click)="htmlInsideModal.open()"
    class="flex w-full p-3 rounded-md shadow-sm border border-gray-100 hover:shadow-md transition-shadow cursor-pointer bg-white max-w-md ml-2 font-semibold items-center justify-between overflow-hidden"
  >
    <div class="flex w-full font-semibold items-center">
      <span
        class="bg-gray-50 mr-1 w-10 flex items-center justify-center h-10 rounded-md"
        title="{{ task.category?.name }}"
      >
        <ngx-emoji
          class="flex items-center justify-center"
          emoji="{{ task.category?.icon }}"
          [size]="25"
          set="twitter"
        ></ngx-emoji>
      </span>
      <p class="truncate">
        {{ task.title }}
      </p>
    </div>
  </div>

  <!-- the actions dropdown -->
  <details
    class="appearance-none relative transition-opacity group-hover:opacity-100 opacity-0"
  >
    <summary
      class="list-none rounded-full text-xs p-3 cursor-pointer active:scale-95 transition-transform ml-2 bg-gray-200"
    >
      •••
    </summary>
    <div
      class="absolute w-40 z-30 top-12 bg-white rounded-md shadow-md p-3 overflow-hidden"
    >
      <a
        routerLink="/task/edit/{{ task.id }}"
        class="rounded-md p-2 block hover:bg-gray-100 transition-colors"
      >
        Edit
      </a>
      <button
        (click)="deleteTask(task.id)"
        class="text-red-600 w-full text-left rounded-md p-2 block hover:bg-gray-100 transition-colors"
      >
        Delete
      </button>
    </div>
  </details>
</div>

<modal #htmlInsideModal>
  <ng-template #modalBody>
    <app-task-details-modal [taskId]="task.id"></app-task-details-modal>
  </ng-template>
</modal>
