<div class="max-w-2xl mt-10 mx-auto p-5">
  <div class="flex justify-between mb-10">
    <span class="text-xl block"> Organize your tasks with categories </span>
    <a
      routerLink="/category/create"
      class="decoration-blue-600 inline-block p-1 font-semibold hover:text-blue-700 underline text-blue-500"
    >
      Create Category
    </a>
  </div>
  <div
    *ngIf="categories.isLoading"
    class="text-center p-10 text-lg font-semibold"
  >
    Loading...
  </div>
  <div
    class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-5"
    *ngIf="!categories.isLoading && categories.items.length > 0"
  >
    <div *ngFor="let category of categories.items">
      <app-category-card [category]="category" (onDelete)="refreshCategories()"></app-category-card>
    </div>
  </div>
</div>
