<div class="max-w-2xl mt-10 mx-auto p-5">
  <span class="font-semibold text-xl block mb-10">
    Organize your tasks with categories
  </span>
  <div class="grid grid-cols-4 gap-5">
    <a
      class="text-lg flex items-center p-5 border rounded-md hover:border-gray-400 cursor-pointer justify-center flex-col"
    >
      <span
        class="bg-gray-100 rounded-full w-full text-center px-5 py-3 text-2xl"
        >🎉</span
      >
      <span class="mt-2 font-semibold">Cool</span>
      <span class="mt-1">10</span>
    </a>
  </div>
</div>
