<div class="bg-white max-w-2xl min-w-[450px] w-full rounded-md p-5">
  <span class="block text-center font-semibold text-xl">
    {{ task.title }}
  </span>
  <div class="mt-5">
    <div
      class="px-2 py-3 rounded-t-md shadow-sm border flex items-center justify-between"
    >
      <span class="px-2 font-semibold">📖 Category</span>
      <div class="flex items-center">
        <ngx-emoji
          class="flex items-center justify-center"
          emoji="{{ task.category?.icon }}"
          [size]="22"
          set="twitter"
        ></ngx-emoji>
        <span class="px-2 text-right">{{ task.category?.name }}</span>
      </div>
    </div>
    <div class="px-2 py-3 shadow-sm border flex items-center justify-between">
      <span class="px-2 font-semibold">📅 Date</span>
      <span class="px-2 text-right"
        >{{ newDate(task.date) | dfnsFormat: "dd LLL yyyy" }},
        {{ newDate(task.time) | dfnsFormat: "hh:mm bbbb" }}</span
      >
    </div>
    <div class="px-2 py-3 shadow-sm border">
      <span class="px-2 font-semibold">📝 Notes</span>
      <p class="px-2">
        {{ task.notes || "N/A" }}
      </p>
    </div>
    <!-- <div class="px-2 py-3 shadow-sm border">
       <span class="px-2 font-semibold">👪 Shared with</span>
       <div class="flex items-center space-x-2 p-2">
         <div class="flex justify-center items-center flex-col">
           <img
             class="rounded-full w-14 h-14"
             src="https://cloudflare-ipfs.com/ipfs/Qmd3W5DuhgHirLHGVixi6V76LhCkZUz6pnFt5AJBiyvHye/avatar/982.jpg"
           />
           <span class="text-sm block"> James Knof </span>
         </div>
       </div>
     </div> -->
    <div
      class="px-2 py-3 rounded-b-md shadow-sm border flex items-center justify-between"
    >
      <span class="px-2 font-semibold">✏️ Created at</span>
      <span class="px-2 text-right">{{
        newDate(task.createdAt) | dfnsFormat: "dd LLL yyyy, hh:mm bbbb"
      }}</span>
    </div>
  </div>
</div>
