<div class="bg-black flex items-center p-3 px-7">
  <div class="flex-1">
    <h1 class="text-white text-2xl font-black">boringday</h1>
  </div>
  <div class="flex items-center space-x-5">
    <a
      routerLink="categories"
      routerLinkActive="bg-white/10 !text-white hover:!bg-white/10"
      class="inline-block rounded-full hover:bg-white/5 text-gray-400 py-2 px-5"
    >
      Categories
    </a>
    <a
      routerLink=""
      routerLinkActive="bg-white/10 !text-white hover:!bg-white/10"
      [routerLinkActiveOptions]="{ exact: true }"
      class="inline-block rounded-full hover:bg-white/5 text-gray-400 py-2 px-5"
    >
      Home
    </a>
  </div>
  <div class="flex-1">
    <div class="flex justify-end">
      <div class="relative">
        <details class="relative">
          <summary
            class="list-none text-center hover:bg-green-400 cursor-pointer bg-green-500 delay-75 duration-100 text-white text-sm font-semibold rounded-full w-44 py-3 px-5 active:translate-y-1 shadow-[0px_3px_rgb(22,163,74)] active:shadow-none"
          >
            New
          </summary>
          <div
            class="absolute w-full top-12 bg-white rounded-md shadow-md p-3 overflow-hidden"
          >
            <a
              routerLink="/p/create"
              class="rounded-md p-2 block hover:bg-gray-100 transition-colors"
            >
              Task
            </a>
            <a
              routerLink="/c/create"
              class="rounded-md p-2 block hover:bg-gray-100 transition-colors"
            >
              Category
            </a>
          </div>
        </details>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
