<div class="relative group">
  <details
    class="relative transition-opacity group-hover:opacity-100 opacity-0"
  >
    <summary
      class="bg-white inline-block list-none group-hover:opacity-100 opacity-0 active:scale-95 hover:bg-gray-50 transition-all absolute -right-3 -top-3 shadow border cursor-pointer p-2 text-sm rounded-full"
    >
      •••
    </summary>
    <div
      class="absolute top-7 right-0 w-40 z-30 bg-white rounded-md shadow-md p-3 overflow-hidden"
    >
      <a
        routerLink="/category/edit/{{ category.id! }}"
        class="rounded-md p-2 block hover:bg-gray-100 transition-colors"
      >
        Edit
      </a>
      <button
        (click)="onDeleteCategory(category.id!)"
        class="text-red-600 w-full text-left rounded-md p-2 block hover:bg-gray-100 transition-colors"
      >
        Delete
      </button>
    </div>
  </details>

  <a
    routerLink="/category/{{ category.id }}"
    class="p-5 border block rounded-md hover:border-gray-400 hover:bg-gray-50 transition-all active:bg-gray-100 cursor-pointer"
  >
    <div class="bg-gray-100 rounded-full text-center w-16 h-16 mx-auto">
      <ngx-emoji
        class="flex items-center justify-center h-full w-full"
        emoji="{{ category.icon }}"
        [size]="35"
        set="twitter"
      ></ngx-emoji>
    </div>
    <span class="block text-center mt-2 font-semibold">{{
      category.name
    }}</span>
    <span class="block text-center mt-1">{{ category._count?.tasks }}</span>
  </a>
</div>
