<div class="bg-black pt-5 pb-10 px-10">
  <!-- calendar -->
  <div class="mt-20">
    <div class="flex space-x-4 items-center justify-center">
      <button
        (click)="handleChangeMonth('prev')"
        class="rounded-full p-1 hover:bg-slate-900 active:scale-95"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="22"
          height="22"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path
            stroke="#ccc"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="10"
            stroke-width="1.5"
            d="M15 19.92L8.48 13.4c-.77-.77-.77-2.03 0-2.8L15 4.08"
          ></path>
        </svg>
      </button>
      <div
        class="text-xl px-5 py-1 text-gray-200 text-center block mx-auto space-x-2"
      >
        <span class="inline-block">
          {{ currentMonth | dfnsFormat: "MMMM" }}
        </span>
        <span class="inline-block">
          {{ currentMonth | dfnsFormat: "yyyy" }}
        </span>
      </div>
      <button
        (click)="handleChangeMonth('next')"
        class="rounded-full p-1 hover:bg-slate-900 active:scale-95"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="22"
          height="22"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path
            stroke="#ccc"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="10"
            stroke-width="1.5"
            d="M8.91 19.92l6.52-6.52c.77-.77.77-2.03 0-2.8L8.91 4.08"
          ></path>
        </svg>
      </button>
    </div>
    <!-- <span class=""> 10 Apr 2022 </span> -->
    <div class="mt-5">
      <div class="flex items-center justify-center space-x-5 text-white">
        <button
          (click)="handleChangeWeek('prev')"
          class="rounded-full p-1 bg-gray-900 hover:bg-opacity-50 active:scale-95"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              stroke="#FFFFFF"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="10"
              stroke-width="1.5"
              d="M15 19.92L8.48 13.4c-.77-.77-.77-2.03 0-2.8L15 4.08"
            ></path>
          </svg>
        </button>
        <div
          id="weekDates"
          class="py-2 flex items-center space-x-5 overflow-x-auto max-w-2xl"
        >
          <button
            (click)="handleSelectDate(week.day)"
            *ngFor="let week of weekCells; index as i"
            class="flex items-center justify-center flex-col w-20 h-20 p-5 relative transition-all rounded-full {{
              week.isSelectedDate
                ? 'bg-teal-900 bg-opacity-40 text-teal-300'
                : 'bg-white active:scale-90 bg-opacity-5 hover:bg-opacity-10 cursor-pointer'
            }}"
          >
            <span class="font-semibold text-lg">{{ week.dayDate }}</span>
            <span class="text-sm font-light">{{ week.dayName }}</span>
            <span
              class="absolute bottom-1 w-1 h-1 bg-teal-400 rounded-full {{
                week.isToday ? 'block' : 'hidden'
              }}"
            ></span>

            <!-- showen when there is data in this date -->
            <span
              class="absolute bottom-1 {{
                week.isToday ? 'ml-3' : ''
              }} w-1 h-1 bg-red-400 rounded-full"
            ></span>
          </button>
        </div>
        <button
          (click)="handleChangeWeek('next')"
          class="rounded-full p-1 bg-gray-900 hover:bg-opacity-50 active:scale-95"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              stroke="#FFFFFF"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="10"
              stroke-width="1.5"
              d="M8.91 19.92l6.52-6.52c.77-.77.77-2.03 0-2.8L8.91 4.08"
            ></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="max-w-2xl p-5 mx-auto mt-5 space-y-10">
  <div class="">
    <div class="flex items-center space-x-2 mb-1">
      <!-- <span class="font-semibold text-lg block"> Today ✨ </span> -->
      <span class="block font-semibold text-lg">
        {{ selectedDate | dfnsFormat: "d LLL yyyy" }}
      </span>
    </div>
    <div *ngIf="tasks.isLoading">
      <p class="p-10 mt-5 text-center text-lg">Loading...</p>
    </div>
    <div *ngIf="!tasks.isLoading && tasks.items.length === 0">
      <div class="mt-10 p-5">
        <span class="text-5xl block text-center mb-3">🎉</span>
        <span class="block text-center text-lg">
          Yayyy, you have nothing to do today, <br />
          try going for a walk
        </span>
      </div>
    </div>

    <div
      class="w-full space-y-3"
      *ngIf="!tasks.isLoading && tasks.items.length > 0"
    >
      <div class="flex items-center w-full" *ngFor="let task of tasks.items">
        <span
          class="flex px-2 py-1 rounded-full font-semibold text-sm bg-[#e6dfdd]"
          >{{ newDate(task.time) | dfnsFormat: "hh:mm bbbb" }}</span
        >
        <div
          class="flex w-full p-3 rounded-md shadow-sm hover:shadow-md transition-shadow cursor-pointer bg-white max-w-md ml-2 font-semibold items-center justify-between overflow-hidden"
        >
          <div class="flex w-full font-semibold items-center">
            <span
              class="p-1 bg-gray-50 mr-1 inline-block rounded-md text-xl"
              title="Category: Work"
            >
              {{ task.category.icon }}
            </span>
            <p class="truncate">
              {{ task.title }}
            </p>
          </div>
          <div>
            <div class="relative">
              <details class="appearance-none relative">
                <summary
                  class=""
                >
                  New
                </summary>
                <div
                  class="absolute w-full top-12 bg-white rounded-md shadow-md p-3 overflow-hidden"
                >
                  <a
                    routerLink="/p/create"
                    class="rounded-md p-2 block hover:bg-gray-100 transition-colors"
                  >
                    Plan
                  </a>
                  <a
                    routerLink="/c/create"
                    class="rounded-md p-2 block hover:bg-gray-100 transition-colors"
                  >
                    Category
                  </a>
                </div>
              </details>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
