<div class="bg-black pt-5 pb-10 px-10">
  <!-- calendar -->
  <!-- TODO: Complelete this to bind the right props -->
  <app-calendar (onSelectDate)="handleSelectDate($event)"></app-calendar>
</div>

<div class="max-w-2xl p-5 mx-auto mt-5 space-y-10">
  <div class="">
    <div class="flex items-center space-x-2 mb-1">
      <!-- <span class="font-semibold text-lg block"> Today ✨ </span> -->
      <span class="block font-semibold text-lg">
        {{ selectedDate | dfnsFormat: "d LLL yyyy" }}
      </span>
    </div>
    <div *ngIf="tasks.isLoading">
      <p class="p-10 mt-5 text-center text-lg">Loading...</p>
    </div>
    <div *ngIf="!tasks.isLoading && tasks.items.length === 0">
      <div class="mt-10 p-5">
        <span class="text-5xl block text-center mb-3">🎉</span>
        <span class="block text-center text-lg">
          Yayyy, you have nothing to do today, <br />
          try going for a walk
        </span>
      </div>
    </div>

    <div
      class="w-full space-y-3"
      *ngIf="!tasks.isLoading && tasks.items.length > 0"
    >
      <div
        class="flex group items-center w-full"
        *ngFor="let task of tasks.items"
      >
        <span
          class="flex px-2 py-1 rounded-full font-semibold text-sm bg-[#e6dfdd]"
          >{{ newDate(task.time) | dfnsFormat: "hh:mm bbbb" }}</span
        >
        <div
          class="flex w-full p-3 rounded-md shadow-sm hover:shadow-md transition-shadow cursor-pointer bg-white max-w-md ml-2 font-semibold items-center justify-between overflow-hidden"
        >
          <div class="flex w-full font-semibold items-center">
            <span
              class="p-1 bg-gray-50 mr-1 inline-block rounded-md text-xl"
              title="{{ task.category.name }}"
            >
              {{ task.category.icon }}
            </span>
            <p class="truncate">
              {{ task.title }}
            </p>
          </div>
        </div>
        <details
          class="appearance-none relative transition-opacity group-hover:opacity-100 opacity-0"
        >
          <summary
            class="list-none rounded-full p-2 cursor-pointer active:scale-95 transition-transform ml-2 bg-gray-200"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M5 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2ZM19 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2ZM12 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2Z"
                stroke="#000000"
                stroke-width="1.5"
              ></path>
            </svg>
          </summary>
          <div
            class="absolute w-44 z-30 top-12 bg-white rounded-md shadow-md p-3 overflow-hidden"
          >
            <a
              routerLink="/p/create"
              class="rounded-md p-2 block hover:bg-gray-100 transition-colors"
            >
              Edit
            </a>
            <a
              routerLink="/c/create"
              class="text-red-600 rounded-md p-2 block hover:bg-gray-100 transition-colors"
            >
              Delete
            </a>
          </div>
        </details>
      </div>
    </div>
  </div>
</div>
