<div class="p-10">
  <div class="rounded-md max-w-xl p-5 mx-auto">
    <h1 class="text-2xl text-center font-semibold mb-5">Edit category</h1>
    <form class="space-y-5" [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
      <div class="flex items-center space-x-5">
        <div>
          <label class="font-semibold text-sm"> Icon </label>
          <details class="relative">
            <summary
              title="select icon"
              class="bg-gray-100 hover:bg-gray-200 cursor-pointer transition-all active:scale-95 p-3 list-none rounded-full"
            >
              <ngx-emoji
                class="flex items-center justify-center"
                emoji="{{ categoryForm.value.icon }}"
                [size]="35"
                set="twitter"
              ></ngx-emoji>
            </summary>
            <div class="absolute">
              <emoji-mart
                formControlName="icon"
                (emojiSelect)="selectEmoji($event)"
                emoji="{{ categoryForm.value.icon }}"
                set="twitter"
              ></emoji-mart>
            </div>
          </details>
        </div>
        <div class="w-full">
          <label class="font-semibold text-sm"> Name </label>
          <input
            type="text"
            class="block p-2 w-full border rounded-md"
            formControlName="name"
            placeholder="School things"
          />
        </div>
      </div>
      <button
        type="submit"
        [disabled]="isSubmitButtonDisabled()"
        class="hover:bg-green-600 disabled:bg-gray-400 disabled:cursor-not-allowed disabled:border-none inline-block cursor-pointer bg-green-500 delay-75 duration-100 text-white text-sm font-semibold w-full rounded-full py-3 px-5"
      >
        Save Changes
      </button>
    </form>
  </div>
</div>
