<div
  class="bg-black flex items-center justify-between p-3 px-7"
  *ngIf="loggedInUser"
>
  <div class="">
    <a routerLink="" class="text-white block text-2xl font-black">boringday</a>
  </div>
  <div class="flex items-center space-x-5">
    <a
      routerLink="categories"
      routerLinkActive="bg-white/10 !text-white"
      class="inline-block rounded-full active:scale-95 hover:bg-white/10 text-gray-400 py-2 px-5"
    >
      Categories
    </a>
    <a
      routerLink=""
      routerLinkActive="bg-white/10 !text-white"
      [routerLinkActiveOptions]="{ exact: true }"
      class="inline-block rounded-full active:scale-95 hover:bg-white/10 text-gray-400 py-2 px-5"
    >
      Home
    </a>
  </div>
  <div class="">
    <div class="flex items-center space-x-5">
      <div class="relative">
        <details class="relative">
          <summary
            class="list-none cursor-pointer active:scale-95 transition-transform text-center bg-yellow-50 text-yellow-500 rounded-full font-semibold text-xl flex items-center justify-center w-12 h-12"
          >
            {{ loggedInUser.fullname[0] | uppercase }}
          </summary>
          <div
            class="absolute w-44 top-12 right-0 bg-white rounded-md shadow-md p-3 overflow-hidden"
          >
            <button
              (click)="handleLogout()"
              class="rounded-md text-left w-full p-2 font-semibold block hover:bg-gray-100 transition-colors"
            >
              Logout
            </button>
          </div>
        </details>
      </div>
      <div class="relative">
        <details class="relative">
          <summary
            class="list-none text-center hover:bg-green-600 cursor-pointer bg-green-500 delay-75 duration-100 text-white text-sm font-semibold rounded-full active:scale-95 w-44 py-3 px-5"
          >
            New
          </summary>
          <div
            class="absolute w-full top-12 bg-white rounded-md shadow-md p-3 overflow-hidden"
          >
            <a
              routerLink="/task/create"
              class="rounded-md p-2 font-semibold block hover:bg-gray-100 transition-colors"
            >
              Task
            </a>
            <a
              routerLink="/category/create"
              class="rounded-md p-2 font-semibold block hover:bg-gray-100 transition-colors"
            >
              Category
            </a>
          </div>
        </details>
      </div>
    </div>
  </div>
</div>

<div class="py-3 px-10 border-b" *ngIf="!loggedInUser">
  <div class="flex items-center justify-between">
    <span class="font-black text-lg">boringday</span>
    <div class="flex items-center space-x-5">
      <a
        routerLink="/login"
        class="rounded-full active:scale-95 px-5 py-2 inline-block border hover:bg-gray-100 transition-all"
      >
        Login
      </a>
      <a
        routerLink="/join"
        class="rounded-full active:scale-95 px-5 py-2 inline-block bg-zinc-800 text-white hover:bg-black transition-all"
      >
        Create account
      </a>
    </div>
  </div>
</div>
