<div class="p-10">
  <div class="text-right block w-full">
    <a
      routerLink="/"
      class="hover:bg-red-400 inline-block cursor-pointer bg-red-500 delay-75 duration-100 text-white text-sm font-semibold rounded-full py-3 px-5 active:translate-y-0.5 border-b-4 active:border-b-0 border-b-red-600"
      >Close</a
    >
  </div>

  <div class="rounded-md max-w-xl p-5 mx-auto mt-5">
    <h1 class="text-2xl text-center font-semibold mb-5">
      Create new task or event
    </h1>
    <form class="space-y-5">
      <div>
        <label class="font-semibold text-sm"> Title </label>
        <input
          type="text"
          class="block p-2 w-full shadow rounded-md"
          placeholder="Make the angular project"
        />
      </div>
      <div>
        <label class="font-semibold text-sm"> Category </label>
        <select type="text" class="block p-2 w-full shadow rounded-md">
          <option>🍕 Work</option>
          <option>🍕 Home</option>
        </select>
      </div>
      <div>
        <div class="flex items-center space-x-5">
          <div class="w-full">
            <label class="font-semibold text-sm"> Date </label>
            <input
              type="date"
              class="block p-2 w-full shadow rounded-md"
              placeholder="Make the angular project"
            />
          </div>
          <div class="w-full">
            <label class="font-semibold text-sm"> Time </label>
            <input
              type="time"
              class="block p-2 w-full shadow rounded-md"
              placeholder="Make the angular project"
            />
          </div>
        </div>
      </div>
      <div>
        <label class="font-semibold text-sm"> Notes </label>
        <textarea
          type="text"
          class="block p-2 w-full shadow rounded-md"
          placeholder="Make the angular project"
        ></textarea>
      </div>
      <button
        class="hover:bg-teal-400 inline-block cursor-pointer bg-teal-500 delay-75 duration-100 text-white text-sm font-semibold w-full rounded-full py-3 px-5 active:translate-y-0.5 border-b-4 active:border-b-0 border-b-teal-600"
      >
        Create
      </button>
    </form>
  </div>
</div>
