<div class="p-10">
  <div class="rounded-md max-w-xl p-5 mx-auto">
    <h1 class="text-2xl text-center font-semibold mb-5">Create new task</h1>
    <form class="space-y-5" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <div>
        <label class="font-semibold text-sm"> Title </label>
        <input
          type="text"
          class="block p-2 w-full border rounded-md"
          formControlName="title"
          placeholder="Make the angular project"
        />
      </div>
      <div>
        <label class="font-semibold text-sm"> Category </label>
        <select
          formControlName="category"
          class="block p-2 w-full border rounded-md"
        >
          <option *ngFor="let category of categories" [value]="category.id">
            {{ category.icon }} {{ category.name }}
          </option>
        </select>
      </div>
      <div>
        <div class="flex items-center space-x-5">
          <div class="w-full">
            <label class="font-semibold text-sm"> Date </label>
            <input
              type="date"
              formControlName="date"
              class="block p-2 w-full border rounded-md"
              placeholder="Make the angular project"
            />
          </div>
          <div class="w-full">
            <label class="font-semibold text-sm"> Time </label>
            <input
              type="time"
              formControlName="time"
              class="block p-2 w-full border rounded-md"
              placeholder="Make the angular project"
            />
          </div>
        </div>
      </div>
      <div>
        <label class="font-semibold text-sm"> Notes </label>
        <textarea
          type="text"
          class="block p-2 w-full border rounded-md"
          formControlName="notes"
          placeholder="Make the angular project"
        ></textarea>
      </div>
      <button
        type="submit"
        [disabled]="isSubmitButtonDisabled()"
        class="hover:bg-green-600 disabled:bg-gray-400 disabled:cursor-not-allowed disabled:border-none inline-block cursor-pointer bg-green-500 delay-75 duration-100 text-white text-sm font-semibold w-full rounded-full py-3 px-5"
      >
        Create
      </button>
    </form>
  </div>
</div>
